<aside class="sidebar">

    <div class="logo">
        <h2>NEXORA</h2>
    </div>

    <nav>

        <a href="../dashboard.html" class="active">
            🏠 Dashboard
        </a>

        <a href="../pages/services/index.html">
            💼 Services
        </a>

        <a href="../pages/portfolio/index.html">
            🖼 Portfolio
        </a>

        <a href="../pages/messages/index.html">
            📨 Messages
        </a>

        <a href="../pages/clients/index.html">
            👥 Clients
        </a>

        <a href="../pages/team/index.html">
            👨‍💻 Team
        </a>

        <a href="../pages/settings/index.html">
            ⚙ Settings
        </a>

    </nav>

</aside>
<li>
    <a href="pages/services/index.html">
        <i class="fa-solid fa-briefcase"></i>
        <span>Services</span>
    </a>
</li>